/resources export-ignore
/src/public/js/vue export-ignore
/src/public/js/eliasis-complement.js export-ignore
/src/public/sass export-ignore
/src/public/images export-ignore
/tests export-ignore
/lib export-ignore
.gitattributes export-ignore
.gitignore export-ignore
CHANGELOG.md export-ignore
CONDUCT.md export-ignore
contributors.txt export-ignore
README.md export-ignore
README-ES.md export-ignore
.editorconfig export-ignore
composer.lock export-ignore